:80 {
  handle_path /api* {
    reverse_proxy backend:9998
  }

  handle_path /images/* {
    root * /srv/images
    file_server
    header Cache-Control "public, max-age=3600"
  }

  handle {
    root * /srv/app
    file_server
  }
}
